<!--debuging -->
<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-xs-6 .col-md-4">
		<section class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		   
		</section>
	</aside>
	<div class="col-md-8">

		<h3>Lists</h3>
	
	</div>
</div>

<div class="row">
<%= link_to 'New List', new_music_list_path, class:"btn btn-success" %>
<%= link_to 'Show List', music_lists_path, class:"btn btn-default" %>
</div>	    

