<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      The <a href="http://www.richardlorenzen-soundmanager/"><em>Sound Manager App
      </em></a> is a
      <a> custom music collection list.</a>
    </p>

