
<div class="center jumbotron">
<<<<<<< HEAD
<h1>Sound Manager</h1>

=======
<h1>Sound Manager App</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
>>>>>>> b899c643333fffcbcb38396d3cc65a39f86200aa
</div>



