
<div class="center jumbotron">
<h1>Sound Manager App</h1>
<h2>
	<a href="http://richardlorenzen-soundmanager.herokuapp.com"> Music Collection List App</a>
</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>



