
<div class="center jumbotron">
<<<<<<< HEAD
<br>
<h1>Sound Manager</h1>
</div>
<div class="center">
  <%= link_to "Create your List Now!!", signup_path, class: "btn btn-lg btn-primary" %>
=======
<<<<<<< HEAD
<h1>Sound Manager</h1>

=======
<h1>Sound Manager App</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
>>>>>>> b899c643333fffcbcb38396d3cc65a39f86200aa
>>>>>>> 7bde40de8e5ebc0833c0fdfa4782658e45359a17
</div>



